/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com

    Edited by [Xiphe](https://github.com/Xiphe/).
-----------------------------------------------------*/
@gradient(@start: #EEE, @stop: #FFF) {
  @gradientNoIE(@start, @stop);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{stop}', GradientType=0); /* IE6-9 */
}
@gradientNoIE(@start: #EEE, @stop: #FFF) {
  background: @start/2 + @stop/2;
  background: -moz-linear-gradient(top, @start 0%, @stop 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @start), color-stop(100%, @stop)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, @start 0%, @stop 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @start 0%, @stop 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @start 0%, @stop 100%); /* IE10+ */
  background: linear-gradient(to bottom, @start 0%, @stop 100%);
}
@gradient4(@start: #1E5799, @stop: #7db9e8, @mid1: #2989D8, @loc1: 50%, @mid2: #207cca, @loc2: 51%) {
  @gradient4noIE(@start, @stop, @mid1, @loc1, @mid2, @loc2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{stop}',GradientType=0);
}
@gradient4noIE(@start: #1E5799, @stop: #7db9e8, @mid1: #2989D8, @loc1: 50%, @mid2: #207cca, @loc2: 51%) {
  background: @start/2 + @stop/2;
  background: -moz-linear-gradient(top, @start 0%, @mid1 @loc1, @mid2 @loc2, @stop 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), 
    color-stop(@loc1, @mid1), color-stop(@loc2, @mid2), color-stop(100%, @stop)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, @start 0%, @mid1 @loc1, @mid2 @loc2, @stop 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, @start 0%, @mid1 @loc1, @mid2 @loc2, @stop 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, @start 0%, @mid1 @loc1, @mid2 @loc2, @stop 100%); /* IE10+ */
  background: linear-gradient(to bottom, @start 0%, @mid1 @loc1, @mid2 @loc2, @stop 100%);
}
@bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: linear-gradient(bottom,
              rgb(@start,@start,@start) 0%,
              rgb(@stop,@stop,@stop) 100%);
}
@bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}
@drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
@rounded(@radius: 2px) {
  border-radius: @radius;
}
@border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  background-clip: padding-box;
}
@opacity(@opacity: 0.5) {
  opacity: @opacity;
}
@transition-duration(@duration: 0.2s) {
  transition-duration: @duration;
}
@rotation(@deg:5deg){
  transform: rotate(@deg);
}
@scale(@ratio:1.5){
  transform:scale(@ratio);
}
@transition(@duration:0.2s, @ease:ease-out) {
  transition: all @duration @ease;
}
@inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
@box-shadow(@arguments) {
  box-shadow: @arguments;
}
@columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -o-column-width: @colwidth;
  -o-column-count: @colcount;
  -o-column-gap: @colgap;
  -o-column-rule-color: @columnRuleColor;
  -o-column-rule-style: @columnRuleStyle;
  -o-column-rule-width: @columnRuleWidth;

  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;

  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;

  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}
@translate(@x:0, @y:0) {
  transform: translate(@x, @y);
}