// globals: @baseUrl, @home, @masterRes, @uploadUrl, @wpurl
// Have fun, writing LESS!

.nowrap {
  white-space:nowrap;
}
.tm-setting-row {
	background-color: #fafafa !important;
	background-image: url('../img/str.png');
	background-repeat: repeat;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) inset;
	td {
		border-top: 0;
	}
	&.closed {
		td {
			padding: 0;
			border: 0;
		}
		.tm-settingswrap {
			margin: 0;
			height: 0;
			overflow: hidden;
		}
	}

}
.tm-settings {
	.tm-settingswrap {
		margin: 10px 0;
	}
	.tm-settingwrap {
		line-height: 26px;
		&.tm-savewrap {
			margin-top: 15px;
			border-top: 1px solid #dfdfdf;
			margin-right: 2.2em;
			padding-top: 10px;
			button {
				margin-left: 15%;
			}
		}
	}
	.tm-tinymcewrap {
		font-size: 12px;
		display: inline-block;
		margin-right: 2.2em;
		width: 80%;
		min-width: 700px;
		margin-bottom: 10px;
	}
	label, .tm-tinymcelabel {
		font-weight: normal;
		display: inline-block;
		width: 15%;
	}
	input, select {
		position: relative;
		top: -2px;
	}
	select {
		height: 1.8em;
	}
	input[type='text'] {
		top: -1px;
		width: 35%;
		&.ts-error {
			border-color: #a50000;
		}
	}
	.ts-errormsg {
		margin: 0 0 0 10px;
		color: #a50000;
	}
	.tm-loading {
		img {
			position: relative;
			top: 3px;
		}
	}
	.tm-message {
		margin-left: 5px;
	}
	hr {
		border: 0;
		border-top: 1px solid #dfdfdf;
		margin-right: 2.2em;
		&.last {
			margin-top: 5em;
		}
	}
	.tm-fileselect_buttonwrap,
	.tm-fileselect_preview {
		width: 85%;
		float: right;
	}
	.tm-fileselect_wrap {
		width: 152px;
		height: 152px;
		.tm-fileselect_removewrap {
			position: relative;
			z-index: 5;
			height: 0;
			display: none;
		}
		.thickbox {
			width: 150px;
			height: 150px;
			display: block;
			position: relative;
			z-index: 1;
			border: 1px solid #dfdfdf;
			&:hover, &:focus, &:active {
				border: 1px solid #666;
			}
		}
		&:hover, &:focus, &:active {
			.tm-fileselect_removewrap {
				display: block;
			}

		}
	}
}
.tm-fileselect_preview {
	&.tm-fileselect_loading {
		min-height: 30px;
		background: transparent url('../img/loading_l.gif') center center no-repeat;
	}
}

.wrap {
	.updated {
		input {
			position: relative;
			top: -3px;
		}
		&.success {
			border-color: #009338;
			background-color: #B8EDCC;
		}
		&.info {
			border-color: #006ba5;
			background-color: #dbefff;
		}
		&.blank {
			border-color: #dfdfdf;
			background-color: #fcfcfc;
		}
	} 
}

.postbox .inside hr {
	border: 0;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #fff;
}